<md-list flex
    ng-controller="DashboardMenuController">
    <md-list-item ng-click="dashboard()">
        <md-icon style="color: blue;">dashboard</md-icon>
        <p>{{ 'title_dashboard' | translate }}</p>
    </md-list-item>
    <md-list-item ng-click="charts()">
        <md-icon style="color: blue;">insert_chart</md-icon>
        <p>{{ 'title_insert_chart' | translate }}</p>
    </md-list-item>
    <md-list-item ng-click="tables()">
        <md-icon style="color: blue;">web</md-icon>
        <p>{{ 'title_table' | translate }}</p>
    </md-list-item>
    <md-list-item ng-click="forms()">
        <md-icon style="color: blue;">edit</md-icon>
        <p>{{ 'title_form' | translate }}</p>
    </md-list-item>
    <md-list-item ng-click="uiElement()">
        <md-icon style="color: blue;">build</md-icon>
        <p>{{ 'title_ui_element' | translate }}</p>
    </md-list-item>
    <md-list-item ng-click="dropDown()">
        <md-icon style="color: blue;">arrow_drop_down_circle</md-icon>
        <p>{{ 'title_drop_down' | translate }}</p>
    </md-list-item>
    <md-list-item ng-click="samplePages()">
        <md-icon style="color: blue;">content_copy</md-icon>
        <p>{{ 'title_sample_pages' | translate }}</p>
    </md-list-item>
</md-list>
