<md-content flex
    layout="row"
    md-swipe-left="close()"
    md-swipe-right="menu()"
    md-theme="{{theme}}">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2"
        md-component-id="menu"
        md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="app-toolbar md-whiteframe-z2"
                ng-animate="animate" md-component-id="menu>
            <div class="md-toolbar-tools">
            {{ 'title_menu' | translate }}
            </div>
        </md-toolbar>
        <ng-include src="'dashboard_menu.html'"></ng-include>
    </md-sidenav>    
    
    <md-content flex
        layout="column">
        <md-toolbar class="md-whiteframe-z2"
            md-scroll-shrink>
            <div class="md-toolbar-tools"
                ng-if="theme == 'teal'">
                <md-button class="md-icon-button"
                    hide-gt-md
                    ng-click="menu()">
                    <md-tooltip>{{ 'action_menu' | translate }}</md-tooltip>
                    <md-icon>menu</md-icon>
                </md-button>
                <h2 class="md-title">{{ 'title_table' | translate }}</h2>
                <span flex></span>
                <md-button class="md-icon-button"
                    ng-click="$parent.theme = 'white'">
                    <md-tooltip>{{ 'action_email' | translate }}</md-tooltip>
                    <md-icon>email</md-icon>
                </md-button>
                <md-button class="md-icon-button"
                    ng-click="$parent.theme = 'white'">
                    <md-tooltip>{{ 'action_notifications' | translate }}</md-tooltip>
                    <md-icon>notifications</md-icon>
                </md-button>
                <md-button class="md-icon-button"
                    ng-click="$parent.theme = 'white'">
                    <md-tooltip>{{ 'action_search' | translate }}</md-tooltip>
                    <md-icon>search</md-icon>
                </md-button>
            </div>

            <div class="md-toolbar-tools"
                ng-if="theme == 'white'">
                <md-button class="md-icon-button"
                    ng-click="$parent.theme = 'teal'">
                    <md-tooltip>{{ 'action_back' | translate }}</md-tooltip>
                    <md-icon>arrow_back</md-icon>
                </md-button>
                <md-input-container flex
                    md-no-float>
                    <br>
                    <input ng-model="$parent.query.$"
                        placeholder="{{ 'action_search' | translate }}"
                        type="search">
                </md-input-container>
                <md-button class="md-icon-button"
                    ng-click="reset()">
                    <md-tooltip>{{ 'action_reset' | translate }}</md-tooltip>
                    <md-icon>cancel</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        
            <div ng-controller="DashboardController as vm" md-theme="light-green" layout-margin style="padding:25px;">
            
            <div layout="row" layout-margin>
              <div class="panel-heading" flex flex-order="4">
                <md-tooltip>{{ 'action_comment' | translate }}</md-tooltip>
                    <md-icon>comment</md-icon>
                    New Comments
              </div>
              <div class="panel-heading" flex flex-order="3">
                <md-tooltip>{{ 'action_person' | translate }}</md-tooltip>
                    <md-icon>person</md-icon>
                    New Task
              </div>
              <div class="panel-heading" flex flex-order="2">
                <md-tooltip>{{ 'action_shopping_cart' | translate }}</md-tooltip>
                    <md-icon>shopping_cart</md-icon>
                    New Order
              </div>
              <div class="panel-heading" flex flex-order="1">
                <md-tooltip>{{ 'action_details' | translate }}</md-tooltip>
                    <md-icon>details</md-icon>
                    Details
              </div>
            </div>
            
              <h2 class="md-title">Determinate</h2>
              <p>
                For operations where the percentage of the operation completed can be determined, use a <b>determinate</b>
                indicator.
                They give users a quick sense of how long an operation will take.
              </p>
              <md-progress-linear md-mode="determinate" value="{{vm.determinateValue}}"></md-progress-linear>
              <h4 class="md-title">Indeterminate</h4>
              <p>
                For operations where the user is asked to wait a moment while something finishes up, and it's not
                necessary to expose what's happening behind the scenes and how long it will take, use an
                <b>indeterminate</b> indicator:
              </p>
              <md-progress-linear md-mode="indeterminate" md-theme="{{thema}}"></md-progress-linear>
              <h4 class="md-title">Buffer</h4>
              <p>
                For operations where the user wants to indicate some activity or loading from the server,
                use the <b>buffer</b> indicator:
              </p>
              <md-progress-linear class="md-warn" md-mode="{{vm.modes[0]}}" value="{{vm.determinateValue}}"
                                  md-buffer-value="{{vm.determinateValue2}}"></md-progress-linear>
              <h4 class="md-title">Query</h4>
              <p>
                For situations where the user wants to indicate pre-loading (until the loading can actually be made),
                use the <b>query</b> indicator:
              </p>
              <div class="container" ng-class="{'visible' : !vm.activated}">
                <md-progress-linear md-mode="{{vm.modes[1]}}" md-theme="pink"></md-progress-linear>
                <div class="bottom-block">
                  <span>Loading application libraries...</span>
                </div>
              </div>
              <hr ng-class="{'visible' : vm.activated}">
              <div layout="row" id="loaders">
                <p>Query and Buffer progress linear indicators: </p>
                <h5>Off</h5>
                <md-switch
                    ng-model="vm.activated"
                    ng-change="vm.toggleActivation()"
                    aria-label="Enable Indicators">
                  <h5>On</h5>
                </md-switch>
              </div>
              <p class="small">
                Note: With the above switch -- which simply clears the md-mode in each <code>&lt;md-progress-linear
                md-mode=""&gt;</code> element --
                developers now easily disable the animations and hide their progress indicators.</p>
            </div>         
    </md-content>
</md-content>
